@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

nav {
  display: flex;
  flex-direction: row;
  margin: auto;
  gap: 15px;
  width: 40%;
  justify-content: space-evenly;
  color: #fd5d90;
  font-size: 110%;
  font-family: 'Poppins';
  text-underline-offset: 10px;
}

nav div:hover {
  cursor: pointer;
}

#corner_logo {
  position: fixed;
  left: 15px;
  height: 10vw;
  max-height: 100px;
  color: #b2f5b9b9;
}

#content {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  text-align: center;
}

footer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content:center;
  bottom: 0;
  width: 100%;
  background: #b6ababc0;
}

img {
  background-size: auto;
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: 100%;
}

#footer_baka_img {
  height: 40px;
  width: 40px;
}

.center {
  margin: auto;
  width: 50%;
}
